<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/octicons/octicons.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/primer-css/primer.css" />
    <link rel="stylesheet" type="text/css" href="~/css/master.css?v=@DateTime.Now.ToString("O")" />
</head>
<body>
    <header class="masthead">
        <div class="container">
            <a class="masthead-logo" href="~/">
                <span class="mega-octicon octicon-circuit-board"></span>
                ASP.NET Team Dashboard
            </a>
            <nav class="masthead-nav">
                @if (Context.User != null)
                {
                    <a href="#">@Context.User.Identity.Name</a>
                }
                else
                {
                    @Html.ActionLink("Register", "Register", "Account")
                    @Html.ActionLink("Log In", "Login", "Account")
                }
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="columns">
            <div class="one-fourth column">
                <nav class="menu">
                    <a class="menu-item" href="#">Something</a>
                </nav>
            </div>
            <div class="three-fourths column">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>